.menuContainer
{
    text-align: left;
    background-color: var(--color-0);
    color: var(--color-1);
    width: 100%;
    height: 100%;
    padding: 1rem;
    overflow-y: auto;
}

.menuList 
{
    padding: 0;
    margin: 0;
}

.menuItem
{
    list-style: none;
    font-size: var(--font-size-sm) !important;
    padding: 0;
    margin: var(--space-xs) auto;
}

.menuLink:hover
{
    background-color: var(--color-5);
}

.menuLink
{
    text-decoration: none;
    color: var(--color-1);
    font-weight: 300;
    padding: 1rem;
    box-sizing: content-box;
    display: block;
    border-radius: 10px !important;
}
