.headerLogo
{
    height: 4rem;
}
.navContainer
{
    background-color: var(--color-2) !important;
}
.navVar
{
    justify-content: right;
}
.navVarItem
{
    margin-left: 2rem;
    color: #fff !important;
    font-weight: 300 !important;
}
@media (max-width:1200px) {
    .navVarItem
    {
        margin-left: 0.5rem;
    }
}

.navbar-nav .dropdown-menu
{
    background-color: var(--color-2) !important;
}
