@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Open+Sans:wght@300&family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;500;600&display=swap');

:root
{
    --color-0: rgb(00, 41, 85);
    --color-1: rgb(255, 255, 255);
    --color-2: rgb(0, 71, 137);
    --color-3: rgb(108,190,69);
    --color-4: rgb(112,59,26);
    --color-5: rgb(242,147,31);
    --color-6: rgb(0,177,179);
    --color-7: rgb(153,153,153);
}


@media (min-width: 500px) {
  :root
  {
      --space-lg: 6rem;
      --space-md: 4rem;
      --space-sm: 2rem;
      --space-xs: 1rem;
      --space-xxs: 0.5rem;

      --font-size-lg: 6rem;
      --font-size-ml: 4rem;
      --font-size-md: 2rem;
      --font-size-sm: 1.4rem;
      --font-size-xs: 1rem;
      
      
  }
}

@media (max-width: 500px) {
  :root
  {
      --space-lg: 4rem;
      --space-md: 3rem;
      --space-sm: 2rem;
      --space-xs: 1rem;
      --space-xxs: 0.5rem;

      --font-size-lg: 4rem;
      --font-size-ml: 3rem;
      --font-size-md: 2rem;
      --font-size-sm: 1.2rem;
      --font-size-xs: 1rem;
      
      
  }
}

body {
  margin: 0;
  font-family: 'Roboto Slab', serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.top-nav  .dropdown-menu
{
    background-color: var(--color-7) !important;
}
.bottom-nav  .dropdown-menu
{
    background-color: var(--color-2) !important;
}

.top-nav a, .bottom-nav a
{
  color: #fff;
}

.accordion-item, .accordion-button
{
  background-color: transparent !important;
  color: var(--color-1) !important;
  font-weight: 300 !important;
  box-shadow: none !important;
  padding: 0 !important;
  font-size: var(--font-size-sm) !important;
}


.full-page-container
{
  display: flex;
  flex-direction: column;
  height: 100vh; 
  overflow: hidden; 
}

.full-page-container header
{
  flex-shrink: 0;
}
.full-page-container main
{
  flex: 1;
}

.spa-container
{
  flex: 1;
  overflow-y: auto; 
}

.container-title
{
    font-size: var(--font-size-ml);
    font-weight: 300;
    color: var(--color-2);
    text-align: center;
    padding-top: 2rem;
}

.left-aligned
{
  text-align: left;
}

.right-aligned
{
  text-align: right;
}

p
{
  text-align: justify !important;
}