@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Open+Sans:wght@300&family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;500;600&display=swap');

:root
{
    --color-0: rgb(00, 41, 85);
    --color-1: rgb(255, 255, 255);
    --color-2: rgb(0, 71, 137);
    --color-3: rgb(108,190,69);
    --color-4: rgb(112,59,26);
    --color-5: rgb(242,147,31);
    --color-6: rgb(0,177,179);
    --color-7: rgb(153,153,153);
}

body {
  margin: 0;
  font-family: 'Roboto Slab', serif !important;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.top-nav  .dropdown-menu
{
    background-color: var(--color-7) !important;
}
.bottom-nav  .dropdown-menu
{
    background-color: var(--color-2) !important;
}

.top-nav a, .bottom-nav a
{
  color: #fff;
}
