.carouselImg
{
    width: 100%;
    object-fit: cover;
    
}

.bluredCover
{
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px) contrast(75%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.carouselItem
{
    background-color: var(--color-7);
    background-size: cover;
    background-position: center;
}

.large-carousel
{
    height: 75vh;
}

.small-carousel
{
    height: 45vh;
}